:root {
    --poster-img-width: 300px;
    --poster-img-height: 450px;
    --img-padding: 20px;
    --name-width: calc(100% - var(--poster-img-width) - (var(--img-padding) * 2));
    --name-height: calc(img);
}

#movie-tray-result {
    width: 80%;
    height: fit-content;

    padding: 0px 100px;

    display: flex;
    flex-wrap: wrap;
    flex-grow: 2;
}

#movie-info {
    width: var(--name-width);
    height: var(--poster-frame-height);

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;

    background-color: bisque;
}

#movie-poster {
    width: var(--poster-img-width);
    height: var(--poster-img-height);

    padding: var(--img-padding);

    background-color: darksalmon;
}

#movie-poster img {
    width: var(--poster-img-width);
    height: var(--poster-img-height);
}

#movie-plot {
    width: 100%;
    height: 100px;

    background-color: blanchedalmond;
}