@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@600&family=Playfair+Display:wght@400;500&display=swap');

:root {
    --poster-img-width: 300px;
    --poster-img-height: 450px;
    --img-padding: 20px;
    --name-padding-left: 20px;
    --name-width: calc(100% - var(--poster-img-width) - (var(--img-padding) * 2) - 60px);
    --name-height: calc(img);
    

    --background-color: #171717;
}

body{
    background-color: var(--background-color);
    scroll-behavior: smooth;
}

#movie-tray-result {
    width: 80%;
    height: fit-content;

    padding: 0px 100px;

    display: flex;
    flex-wrap: wrap;
    flex-grow: 2;

    font-family: 'Arimo', sans-serif;
    color: aliceblue;
}

#movie-info {
    width: var(--name-width);
    height: var(--poster-frame-height);

    padding: 0px 30px;
    /* padding-left: 30px; */

    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    /* flex-grow: 2; */

    background-color: var(--background-color);
    font-size: 21px;
}

#movie-poster {
    width: var(--poster-img-width);
    height: var(--poster-img-height);

    padding: var(--img-padding);

    background-color: var(--background-color);
}

#movie-poster img {
    width: var(--poster-img-width);
    height: var(--poster-img-height);
}

#movie-plot {
    width: 100%;
    height: 100%;

    padding: 20px;

    background-color: var(--background-color);
    font-size: 30px;
}

#info-name{
    width: 100%;

    display: flex;
    flex-wrap: wrap;

    font-size: 60px;
    font-weight: 500;
}

#info-tagline{
    margin-bottom: 50px;
}

#movie-similar{
    width: 100%;
    height: max-content;

    display: flex;
    flex-direction: row;

    background-color: var(--background-color);

    overflow-x: scroll;
    scroll-behavior: smooth;
}

#movie-similar img{
    height: 250px;

    padding: 1.5rem 1.5rem;
}

.similar-poster-img:hover {
    -webkit-animation: shadow-drop-2-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: shadow-drop-2-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

    background-color: #d90429;
}

@-webkit-keyframes shadow-drop-2-center {
    0% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }

    100% {
        -webkit-transform: translateZ(50px);
        transform: translateZ(50px);
        -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
        box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    }
}

@keyframes shadow-drop-2-center {
    0% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }

    100% {
        -webkit-transform: translateZ(50px);
        transform: translateZ(50px);
        -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
        box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    }
}