body {
    margin: 0px;
    padding: 0px;
}

.container {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;

    display: flex;
    flex-direction: column;
}

.header {
    width: 100%;
    min-height: 10vh;
    max-height: 10vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: plum;
}

.content{
    display: flex;
    flex-grow: 2;
    flex-wrap: wrap;

    border: 2px solid black;
}

.footer{
    padding: 30px;
}

.movie-name{
    width: 60%;

    border: 2px solid black;
}

.movie-poster{
    width: 38%;

    border: 2px solid black;
}

.movie-info{
    width: 100%;

    border: 2px solid black;
}