.header-container {
    position: sticky;

    height: 60px;

    display: flex;

    background-color: aquamarine;
}

.logo {
    width: 225px;

    padding: 20px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #171717;
}

.logo a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-grow: 2;

    background-color: #171717;
    color: #e2e2e2;
}

.title a {
    color: #e2e2e2;
    text-decoration: none;
}

.search {
    width: 500px;

    display: flex;
    justify-content: start;
    align-items: center;

    padding-right: 100px;

    background-color: #171717;
    color: #e2e2e2;
}

.logo img {
    width: 100%;
}

@media only screen and (max-width: 650px) {
    .logo {
        width: 100px;

        display: flex;
        flex-grow: 2;
    }
}
