.search-input {
    width: 200px;
    height: 35px;

    padding: 0px 10px;

    border-radius: 30px;
    border: 0px;
    outline: grey solid 2px;
}

.navbar {
    margin-left: 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 2;
}

.navbar a {
    color: #5b5b66;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
}

.navbar a:hover {
    color: #e2e2e2;
}

@media only screen and (max-width: 650px) {
    .search {
        width: max-content;

        padding: 0px 10px;

        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .search-input {
        width: 100px;
        height: 35px;
    }

    .search i {
        margin-left: 15px;

        font-size: 35px;
    }
}
