.search-input {
    width: 200px;
    height: 35px;

    padding: 0px 10px;

    border-radius: 30px;
    border: 0px;
    outline: grey solid 2px;
}

.navbar {
    margin-left: 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 2;
}

